version: '3.8'
services:
  server:
    build:
      context: .
      dockerfile: dockerfiles/server.dockerfile
    image: tms-server
    container_name: tms-server
    ports:
      - '4000:4000'
    volumes:
      - ./server:/server
      - /server/node_modules

  client:
    build:
      context: .
      dockerfile: dockerfiles/client.dockerfile
    image: tms-client
    container_name: tms-client
    ports:
      - '3000:3000'
    volumes:
      - ./client/src:/client/src
    depends_on:
      - server
