version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: tms-mysql
    volumes:
      - data:/data/db
    env_file:
      - ./server/.env
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10

  server:
    build:
      context: .
      dockerfile: dockerfiles/server.dockerfile
    image: tms-server
    container_name: tms-server
    ports:
      - '4000:4000'
    volumes:
      - ./server:/server
      - /node_modules
    depends_on:
      mysql:
        condition: service_healthy

  # client:
  #   build: ./client
  #   image: tms-client
  #   container_name: tms-client
  #   ports:
  #     - '3000:3000'
  #   volumes:
  #     - ./client/src:/client/src
  #   depends_on:
  #     - server

# Named volumes
volumes:
  data:
